{% extends "webadmin/layout.html" %} {% block body%} {% load static %}


<link rel="stylesheet" href="{% static 'style.css' %}" />


<div class="col-12 d-flex mt-5" style="justify-content: center">

<form class="d-flex" style="align-items: center; flex-direction: column;" id="login" action="{% url 'login' %}" method="post">
  {% csrf_token %}
  <h2 class="mb-3">Login</h2>
  <div class="form-group">
    <input
      autofocus
      class="form-control"
      type="text"
      name="email_test"
      placeholder="Email"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="password"
      name="password"
      placeholder="Password"
    />
  </div>
  <input
    style="min-width="
    class="btn btn-primary"
    type="submit"
    value="Login"
  />
</form>

</div>


<div style="color: red" class="d-flex justify-content-center mt-3">

  {{message}}

</div>




{% endblock %}
